
body {
  background: white;
  background-image: url( ../imagenes/fondoweb.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {background-color: ;
  margin: 1%;
  padding: 10px;
}

nav {
  width: 98%;
  float: center;
  margin: 1%;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.orden {
  width: 15%;
  height: 15%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


section {background-color: rgba(255, 255, 255, 0.5);
width: 98%;
float: left;
margin: 1%;
padding: 10px;
border: 3px solid white;
box-sizing: border-box;
overflow: auto;
}

aside {background-color: rgba(255, 255, 255, 0.5);
width: 47%;
float: left;
margin: 1%;
padding: 10px;
border: 3px solid white;
box-sizing: border-box;
overflow: auto;
}

footer {
  background-color: red;
  width: 98%;
  float: center;
  margin: 1%;
  padding: 10px;
  border: 3px solid white;
  box-sizing: border-box;
  overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }


p {text-align: center; font-family: sans-serif; font-weight: 300; text-align: left; font-size: 100%; line-height: 25px;
}

h1 {color: red; font-family: fantasy; font-weight: 300; text-align: center; font-size: 430%; text-decoration: underline;
}

h2 {color: red; font-family: sans-serif; font-weight: 300; text-align: center; font-size: 300%; text-decoration: underline;
}

h3 {color: red; font-family: sans-serif; font-weight: 300; text-align: center; font-size: 200%; text-decoration: underline;
}

ul {text-align: center; font-family: sans-serif; font-weight: 300; text-align: left; font-size: 100%; line-height: 25px;
}

ol {text-align: center; font-family: sans-serif; font-weight: 300; text-align: left; font-size: 100%; line-height: 25px;
}


.container-boton{
    background: #2e6329 ;
    border: 1px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 25px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}
.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.boton{
    width: 50px;
    transition: ease 1s;
}
@keyframes efecto{
    0%{
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
      box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}
